{#- patient template for eICR/RR documents -#}
{%- macro format_address(addr) %}
    <addr use="{{ addr.use }}">
    {%- if addr.street %}<streetAddressLine>{{ addr.street }}</streetAddressLine>{%- endif %}
        {%- if addr.city %}<city>{{ addr.city }}</city>{%- endif %}
            {%- if addr.state %}<state>{{ addr.state }}</state>{%- endif %}
                {%- if addr.zip %}<postalCode>{{ addr.zip }}</postalCode>{%- endif %}
                    {%- if addr.county %}<county>{{ addr.county }}</county>{%- endif %}
                        {%- if addr.country %}<country>{{ addr.country }}</country>{%- endif %}
                            </addr>
                        {%- endmacro %}
                        {%- macro format_telecom(phone=None, email=None) %}
                            {%- if phone %}<telecom use="{{ phone.use }}" value="tel:{{ phone.value }}" />{%- endif %}
                                {%- if email %}<telecom use="{{ email.use }}" value="mailto:{{ email.value }}" />{%- endif %}
                                {%- endmacro %}
                                <recordTarget xmlns="{{ nsmap[None] }}" xmlns:sdtc="{{ nsmap['sdtc'] }}" xmlns:xsi="{{ nsmap['xsi'] }}" xmlns:voc="{{ nsmap['voc'] }}">
                                <patientRole>
                                {#- patient identifiers -#}
                                {%- if patient.id.mrn %}<id root="2.16.840.1.113883.19.5" extension="{{ patient.id.mrn }}" />{%- endif %}
                                    {%- if patient.id.ssn %}<id root="2.16.840.1.113883.4.1" extension="{{ patient.id.ssn }}" />{%- endif %}
                                        {#- patient address -#}
                                        {%- if patient.contact.address %}{{ format_address(patient.contact.address) }}{%- endif %}
                                            {#- patient contact information -#}
                                            {%- if patient.contact %}{{ format_telecom(patient.contact.phone, patient.contact.email) }}{%- endif %}
                                                <patient>
                                                {#- patient name -#}
                                                {%- if patient.name %}
                                                    <name use="{{ patient.name.use }}">
                                                    {%- if patient.name.prefix %}<prefix>{{ patient.name.prefix }}</prefix>{%- endif %}
                                                    <given>{{ patient.name.given }}</given>
                                                    <family>{{ patient.name.family }}</family>
                                                    </name>
                                                {%- endif %}
                                                {#- demographics -#}
                                                <administrativeGenderCode code="{{ patient.demographics.gender.code }}" codeSystem="2.16.840.1.113883.5.1" displayName="{{ patient.demographics.gender.displayName }}" />
                                                <birthTime value="{{ patient.demographics.birthDate }}" />
                                                {%- if patient.demographics.deceased is defined %}
                                                    <sdtc:deceasedInd value="{{ patient.demographics.deceased|lower }}" />
                                                {%- endif %}
                                                <raceCode code="{{ patient.demographics.race.code }}" codeSystem="2.16.840.1.113883.6.238" codeSystemName="Race &amp; Ethnicity - CDC" displayName="{{ patient.demographics.race.displayName }}" />
                                                <ethnicGroupCode code="{{ patient.demographics.ethnicity.code }}" codeSystem="2.16.840.1.113883.6.238" codeSystemName="Race &amp; Ethnicity - CDC" displayName="{{ patient.demographics.ethnicity.displayName }}" />
                                                {#- language -#}
                                                {%- if patient.demographics.preferredLanguage %}
                                                    <languageCommunication>
                                                    <languageCode code="{{ patient.demographics.preferredLanguage.code }}" />
                                                    <preferenceInd value="true" />
</languageCommunication>
{%- endif %}
</patient>
{#- guardian information (if exists and not null) -#}
{%- if patient.guardian and patient.guardian.name.given %}
<guardian>
<guardianPerson>
<name use="{{ patient.guardian.name.use }}">
{%- if patient.guardian.name.prefix %}<prefix>{{ patient.guardian.name.prefix }}</prefix>{%- endif %}
<given>{{ patient.guardian.name.given }}</given>
<family>{{ patient.guardian.name.family }}</family>
</name>
</guardianPerson>
{%- if patient.guardian.contact.address %}{{ format_address(patient.guardian.contact.address) }}{%- endif %}
{%- if patient.guardian.contact %}{{ format_telecom(patient.guardian.contact.phone, patient.guardian.contact.email) }}{%- endif %}
{%- if patient.guardian.relationship %}
<guardianRole>
<code code="{{ patient.guardian.relationship.code }}" displayName="{{ patient.guardian.relationship.displayName }}" />
</guardianRole>
{%- endif %}
</guardian>
{%- endif %}
</patientRole>
</recordTarget>
